<div class="container">
  <div class="row">
    <div class="col s6">
      <form (ngSubmit)="onSubmit()" class="row" [formGroup]="form">

        <input placeholder="title" 
               formControlName="title" 
               type="text" 
               class="input-field col s12"
               [(ngModel)]="form.value.title">

               <button class="waves-effect waves-light btn col s2"  
        (click)="onSubmit()"> add
</button>
      </form>
      
      
               <ul *ngIf="collections" class="collection">
                 <span *ngFor="let coffee of collections">
                 <li>
                    <span class="col s8"> {{ coffee.payload.doc.data().title }} </span>
                    <a class="col s3" (click)="updateItem(coffee)">update</a>
                    <a class="col s1" (click)="deleteItem(coffee)">x</a>
                 </li>
                </span>
               </ul>
   
    </div>
    <div class="col s6"></div>
  </div>
</div>